/*  your css code here. If applicable */
#container{
	margin:20px;
}

#container::before{
	color:#f00;
	content:" After Element";
	font-size:20px;
}

#container::after{
	color:#f00;
	content:" After Element";
	font-size:20px;
	
}